h1{
    position: relative;
    
}
h1:hover::after{
    content: attr(data-mycontent);
    font-size: 10px;
    position: absolute;
    top: 0;
    background-color: aquamarine;
    padding: 2px;
    
}